{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span>
        <span class="svg-wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0677/6419/1421/files/left.svg?v=1737992249" alt="menu">
        </span>
      </span>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__inner-container">
        <button
        type="button"
        class="button-close close"
        aria-label="{{ 'accessibility.close' | t }}"
      >
        {{- 'icon-close.svg' | inline_asset_content -}}
      </button>
      <div class="search-block">
        {% render 'header-search', input_id: 'Search-In-Modal-2' %}
      </div>
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">
              <ul class="menu__block menu-drawer__menu has-submenu list-menu" role="list">
                {%- for link in section.settings.menu.links -%}
                  <li class="menu__list-main list-style">
                    {%- if link.links != blank -%}
                      <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                        <summary
                          id="HeaderDrawer-{{ link.handle }}"
                          class=" menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                        >
                          {{ link.title | escape }}
                          <span class="svg-wrapper">
                            {{- 'menu-arrow.svg' | inline_asset_content -}}
                          </span>
                          <span class="svg-wrapper">
                            {{- 'icon-caret.svg' | inline_asset_content -}}
                          </span>
                        </summary>
                        <div
                          id="link-{{ link.handle | escape }}"
                          class="menu-drawer__submenu has-submenu gradient motion-reduce"
                          tabindex="-1"
                        >
                          <div class="menu-drawer__inner-submenu">
                            <div class="search-block">
                              {% render 'header-search', input_id: 'Search-In-Modal-3' %}
                            </div>
                            <button class="menu-drawer__close-button list-style link link--text focus-inset" aria-expanded="true">
                              <span class="svg-wrapper">
                                {{- 'menu-arrow.svg' | inline_asset_content -}}
                              </span>
                              BACK
                            </button>
                            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                              <div class="menu__list-main list-style">
                                {{ link.title | escape }}
                              </div>
                              {%- for childlink in link.links -%}
                                <li class="menu__list">
                                  {%- if childlink.links == blank -%}
                                    <a
                                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                      href="{{ childlink.url }}"
                                      class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                      {% if childlink.current %}
                                        aria-current="page"
                                      {% endif %}
                                    >
                                      {{ childlink.title | escape }}
                                    </a>
                                  {%- else -%}
                                    <details id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}">
                                      <summary
                                        id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                        class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                      >
                                        {{ childlink.title | escape }}
                                        <span class="svg-wrapper">
                                          {{- 'icon-arrow.svg' | inline_asset_content -}}
                                        </span>
                                        <span class="svg-wrapper">
                                          {{- 'icon-caret.svg' | inline_asset_content -}}
                                        </span>
                                      </summary>
                                      <div
                                        id="childlink-{{ childlink.handle | escape }}"
                                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                                      >
                                        <button
                                          class="menu-drawer__close-button list-style link link--text focus-inset"
                                          aria-expanded="true"
                                        >
                                          <span class="svg-wrapper">
                                            {{- 'icon-arrow.svg' | inline_asset_content -}}
                                          </span>
                                          {{ childlink.title | escape }}
                                        </button>
                                        <ul
                                          class="menu-drawer__menu list-menu"
                                          role="list"
                                          tabindex="-1"
                                        >
                                          {%- for grandchildlink in childlink.links -%}
                                            <li>
                                              <a
                                                id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                                href="{{ grandchildlink.url }}"
                                                class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                                {% if grandchildlink.current %}
                                                  aria-current="page"
                                                {% endif %}
                                              >
                                                {{ grandchildlink.title | escape }}
                                              </a>
                                            </li>
                                          {%- endfor -%}
                                        </ul>
                                      </div>
                                    </details>
                                  {%- endif -%}
                                </li>
                              {%- endfor -%}
                            </ul>
                          </div>
                        </div>
                      </details>
                    {%- else -%}
                      <a
                        id="HeaderDrawer-{{ link.handle }}"
                        href="{{ link.url }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                        {% if link.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ link.title | escape }}
                      </a>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
                {%- for link in section.settings.menu.links -%}
                  <li class="desktop__menu">
                    {%- if link.links != blank -%}
                      <h2 class="header-menu__heading inline-richtext">{{ link.title | escape }}</h2>
                      <div class="menu-drawer__inner-submenu">
                        <ul
                          class="menu-drawer__menu list-menu"
                          role="list"
                          tabindex="-1">
                          {%- for childlink in link.links -%}
                            <li class="desktop__menu-item">
                              {%- if childlink.links == blank -%}
                                <a
                                  id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                  href="{{ childlink.url }}"
                                  class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                  {% if childlink.current %}
                                  aria-current="page"
                                  {% endif %}>
                                  {{ childlink.title | escape }}
                                </a>
  
                              {%- else -%}
                                {%- for grandchildlink in childlink.links -%}
                                  <li>
                                    <a
                                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                      href="{{ grandchildlink.url }}"
                                      class="menu-drawer__menu-item link link--text list-menu__item"
                                      {% if grandchildlink.current %}
                                      aria-current="page"
                                      {% endif %}>
                                      {{ grandchildlink.title | escape }}
                                    </a>
                                  </li>
                                {%- endfor -%}
                              {%- endif -%}
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
            </ul>
          </nav>
          <div class="menu-drawer__utility-links">
            {%- if shop.customer_accounts_enabled -%}
              <a
                href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="menu-drawer__account link focus-inset h5 medium-hide large-up-hide"
                rel="nofollow"
              >
                {%- if section.settings.enable_customer_avatar -%}
                    {%- if customer and customer.has_avatar? -%}
                      {{ customer | avatar }}
                    {%- else -%}
                    <span class="svg-wrapper">
                      <img src="https://cdn.shopify.com/s/files/1/0677/6419/1421/files/ic-user.svg?v=1737992249" alt="account icon">
                    </span>
                    {%- endif -%}
                  <span class="utility-name">
                    ACCOUNT
                  </span>
                {%- endif -%}
              </a>
            {%- endif -%}
            <a href="#swym-wishlist" class="menu-drawer__account link focus-inset h5 medium-hide large-up-hide">
              <span class="svg-wrapper">
                <img src="../assets/heart.svg">
              </span>
              <span class="utility-name">
                WISHLIST
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </details>
</header-drawer>
