{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}

<script>
  function initDialog () {
    let myDialog = document.querySelector("#popup");
    let showButtons = document.querySelectorAll(".open-popup");
    let closeButton = document.querySelector("#close-popup");

    showButtons.forEach(button => {
      button.addEventListener("click", (event) => {
        event.preventDefault();
        myDialog.showModal();
      });
    });

    closeButton.addEventListener("click", () => {
      myDialog.close();
    });
  };
</script>

<dialog id="popup"class="custom-popup">
  <button id="close-popup" class="custom-popup_button" autofocus>
    <span class="svg-wrapper">
      {{- 'icon-close.svg' | inline_asset_content -}}
    </span>
  </button>
  <p class="custom-popup_text">Hello :D</p>
</dialog>

<style>
  .custom-style {
    text-transform: uppercase; 
    font-weight: bold; 
    font-family: var(--font-heading-family); 
    letter-spacing: 2px;
    font-size: 16px;
  }

  .custom-style_value {
    text-transform: none; 
    font-weight: 200; 
    font-family: var(--font-body-family);
  }

  @media (min-width: 950px) {
    .custom-style {
      display: flex;
      flex-direction: column;
    }
    .custom-style_value {
      text-transform: uppercase; 
    }
  } 

  .custom-popup {
    position: sticky;
    border-radius: 0.5rem;
    width: 100vw;
    min-height: 12rem;
    margin: auto;
    padding: 1rem;
    border: 1px solid #1f727c;
    background-color: #1f727cbf;
    color: white;
    text-transform: uppercase;
    font-family: var(--font-heading-family);
  }

  .custom-popup_button {
    display: inline-block;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
  }

  .custom-popup_text {
    text-align: center
  }

  .size-popups {
    display: flex;
    justify-content: space-between;
    max-width: 440px;
    margin: 30px 0;
    text-decoration: none;
    font-family: var(--font-heading-family);
    letter-spacing: 2px;
    color: #1f727c;
  }

  .size-popups-link {
    color: #1f727c;
  }
</style>

{%- unless product.has_only_default_variant -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}
  >
    {%- for option in product.options_with_values -%} 
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type

        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            assign picker_type = 'swatch'
          endif
        endif
      -%}

      {%- if option.name == 'Size' -%}
        <div class="size-popups">
          <a class="size-popups-link open-popup" href="#" id="open-popup">&#9432 FIND MY SIZE </a>
          <span>|</span>
          <a class="size-popups-link open-popup" href="#" id="open-popup">SIZE CHART </a>
        </div>
        <script>
          initDialog();
        </script>
      {%- endif -%}

      {%- if picker_type == 'swatch' -%}
        <fieldset class="js product-form__input product-form__input--swatch">
          <legend class="form__label custom-style">
            {{ option.name }}:
            <span data-selected-value class="custom-style_value">
              {{- option.selected_value -}}
            </span>
          </legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>
      {%- elsif picker_type == 'button' -%}
        <fieldset class="js product-form__input product-form__input--pill">
          <legend class="form__label custom-style">
            {{ option.name }}:
            <span data-selected-value class="custom-style_value">
              {{- option.selected_value -}}
            </span>
          </legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>
      {%- else -%}
        <div class="product-form__input product-form__input--dropdown">
          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
            {{ option.name }}
          </label>
          <div class="select">
            {%- if picker_type == 'swatch_dropdown' -%}
              <span
                data-selected-value
                class="dropdown-swatch"
              >
                {% render 'swatch', swatch: option.selected_value.swatch, shape: block.settings.swatch_shape %}
              </span>
            {%- endif -%}
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {% render 'product-variant-options',
                product: product,
                option: option,
                block: block,
                picker_type: picker_type
              %}
            </select>
            <span class="svg-wrapper">
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}

    <script type="application/json" data-selected-variant>
      {{ product.selected_or_first_available_variant | json }}
    </script>
  </variant-selects>
{%- endunless -%}
